%titleBig {
    font-size: 8em;
    font-weight: 700;
}

%textBig {
    font-size: 2em;
    font-weight: 300;
}

%titleSmall {
    font-size: 1.8em;
    font-weight: 700;
}

%titleMedium {
    font-size: 2.5em;
    font-weight: 700;
}

%textSmall {
    font-size: 1.4em;
    font-weight: 200;
}

.yellowText {
    color: $primary;
}